{% extends 'base.html' %}
{% load static %}

{% block title_page %}
    My Blog - All Posts
{% endblock %}

{% block header_reference %}
    <link rel="stylesheet" href="{% static 'blogs/index.css' %}">
    <link rel="stylesheet" href="{% static 'blogs/all_post.css' %}">
{% endblock %}

{% block content_page %}
    <section id="all-posts">
        <h2>This is All Posts</h2>
{#    <ul>#}
{#        <li><a href="#">test</a></li>#}
{#        <li><a href="#">test</a></li>#}
{#        <li><a href="#">test</a></li>#}
{#    </ul>#}
        <ul>
            {% for post in all_post %}
                {% include 'blogs/includes/post.html' %}
            {% endfor %}
        </ul>
    </section>
{% endblock %}
