{% extends 'base.html' %}
{% load static %}

{% block header_reference %}
    <link rel="stylesheet" href="{% static 'blogs/index.css' %}">
    <link rel="stylesheet" href="{% static 'blogs/all_post.css' %}">
{% endblock %}

{% block title_page %}
	ChangePassword
{% endblock %}

{% block content_page %}
	<h1>ChangePassword</h1>
    <form action="" method="post">
    {% csrf_token %}
{#    {{ form }}#}
    <input type="password" name="old_password" placeholder="please old_password">
    <br><br>
    <input type="password" name="new_password1" placeholder="please new_password">
    <br><br>
    <input type="password" name="new_password2" placeholder="please repeat_password">
    <br><br>
    <input type="submit" value="changepassword">
    </form>
{% endblock %}
